.u-section-1 {
  background-image: none;
  min-height: 867px;
}

.u-section-1 .u-image-1 {
  object-position: 7.45% 100%;
  height: 832px;
  width: 1149px;
  background-image: url("images/squarelg_4x.png");
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -832px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 860px;
  margin-top: 0;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  width: 614px;
  height: 750px;
  margin: 41px auto 0 -19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  animation-duration: 1000ms;
  margin: -411px 30px 0 528px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 17px 391px 0 528px;
}

.u-section-1 .u-shape-1 {
  width: 266px;
  height: 37px;
  animation-duration: 1000ms;
  margin: -295px 76px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 946px;
  }

  .u-section-1 .u-image-1 {
    width: 832px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 709px;
  }

  .u-section-1 .u-text-1 {
    color: rgb(95, 62, 56) !important;
    margin-right: 0;
    margin-left: 358px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 361px;
    margin-left: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 395px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 138px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    width: 540px;
    height: 660px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -321px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 319px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    width: 340px;
    height: 416px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -77px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 119px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 74px;
  }
}.u-section-2 {
  background-image: linear-gradient(#95c9be, #477349);
}

.u-section-2 .u-sheet-1 {
  min-height: 349px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 34px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 77px;
  height: 15px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-group-1 {
  width: 1051px;
  min-height: 133px;
  animation-duration: 750ms;
  margin: 29px auto 60px;
}

.u-section-2 .u-image-1 {
  width: 244px;
  height: 133px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 252px;
  height: 126px;
  animation-duration: 1000ms;
  margin: -133px auto 0 291px;
}

.u-section-2 .u-image-3 {
  width: 181px;
  height: 131px;
  margin: -124px 280px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 233px;
  height: 106px;
  animation-duration: 1000ms;
  margin: -120px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -203px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
  }

  .u-section-2 .u-image-3 {
    height: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 88px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 159px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 467px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 66px 0 60px;
}.u-section-4 {
  background-image: linear-gradient(#477349, #477349);
}

.u-section-4 .u-sheet-1 {
  min-height: 693px;
}

.u-section-4 .u-image-1 {
  width: 932px;
  height: 932px;
  filter: brightness(0.75);
  background-image: url("images/136606281-01.png");
  background-position: 50% 50%;
  margin: -411px auto 0 -344px;
}

.u-section-4 .u-rotation-parent-1 {
  width: 983px;
  height: 983px;
  margin: -725px -238px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 983px;
  height: 983px;
  filter: brightness(0.7);
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  width: 762px;
  font-weight: normal;
  margin: -661px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: 22px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 341px;
  grid-gap: 15px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(149, 201, 190) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  animation-duration: 1000ms;
  margin: 34px 0 0;
}

.u-section-4 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/74c81634df9087d04879088aa5c2ee50.gif");
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  animation-duration: 1000ms;
  margin: 34px 0 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(149, 201, 190) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-style: normal;
  animation-duration: 1000ms;
  margin: 34px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: normal;
  margin: 22px auto 0 467px;
  padding: 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: -794px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -719px;
  }

  .u-section-4 .u-image-2 {
    margin: -147px -201px 0 auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -728px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 281px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 294px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 720px;
    height: 457px;
    margin-top: -1083px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 720px;
    margin-top: 143px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-top: -202px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 646px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 604px;
    margin-left: 0;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 540px;
    height: 277px;
    margin-top: -771px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-top: 373px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: -22px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 697px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 340px;
    height: 77px;
    margin-top: -627px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 410px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 178px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}.u-section-5 {
  background-image: linear-gradient(#477349, #95c9be);
}

.u-section-5 .u-sheet-1 {
  min-height: 682px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 690px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-shape-1 {
  width: 291px;
  height: 291px;
  background-image: none;
  margin: 0 60px 0 auto;
}

.u-section-5 .u-text-1 {
  line-height: 1;
  font-size: 3.75rem;
  font-weight: normal;
  margin: -131px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  animation-duration: 1000ms;
  margin: 30px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/patrick-hendry-6xeDIZgoPaw-unsplash.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-5 .u-text-2 {
    font-weight: normal;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 15px;
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 18px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 438px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 500px;
    height: 500px;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-shape-1 {
    width: 251px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-6 {
  background-image: linear-gradient(#95c9be, #95c9be);
}

.u-section-6 .u-sheet-1 {
  min-height: 159px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  line-height: 29px;
  font-weight: 400;
  letter-spacing: normal;
  width: 740px;
  margin: 22px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 535px;
}

.u-section-7 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 63px 0 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-7 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -440px;
  margin-bottom: 155px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 285px;
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 225px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  height: 225px;
  object-position: 50% 39.47%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 285px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  height: 225px;
  object-position: 50% 35.32%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-7 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-7 .u-image-4 {
    height: 178px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-7 .u-image-5 {
    height: 178px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 235px;
  }

  .u-section-7 .u-image-6 {
    height: 178px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-7 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-7 .u-image-4 {
    height: 126px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-7 .u-image-5 {
    height: 126px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 180px;
  }

  .u-section-7 .u-image-6 {
    height: 126px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 364px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 364px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 405px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    height: 364px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-7 .u-image-4 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-7 .u-image-5 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-7 .u-image-6 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 {
  background-image: linear-gradient(#95c9be, white);
}

.u-section-8 .u-sheet-1 {
  min-height: 501px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 23px auto 0;
}

.u-section-8 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 27px;
}

.u-section-8 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-8 .u-icon-1 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-8 .u-icon-2 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-8 .u-icon-3 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 566px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 55px 151px 0 0;
}

.u-section-9 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 14px 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-9 .u-form-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  padding: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 51px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }
}